.actionn .overlay {
    background-color: #000000;
}

.actionn .overlay .backImg {
    opacity: 0.4;
    overflow: hidden;
}

.actionn .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.actionn .caro {
    width: 920px;
    height: 500px;
    margin: auto;
}

@media (min-width: 1540px) {
    .actionn .caro {
        width: auto;
        height: auto;
    }
}

@media (max-width: 1500px) {
    .actionn .caro {
        width: auto;
        height: auto;
    }
}